body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.top-content {
    color: white;
    background: red;
    display: flex;
    flex-direction: column;
    padding: 10px 150px 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 32px;
    font-weight: bold;
}

.under-header {
    display: flex;
    margin-top: 80px

}

.hero {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    margin-right: 200px;
}

.under-header > img {
    width: 380px;
    height: auto;
}

button {
    border-radius: 8px;
    border: 0px;
    padding: 10px 20px;
    width: 120px;
    color: white;
    background-color: rgb(255, 99, 99);
    white-space: nowrap;
}

.information {
    background: white;
    padding: 40px;
    color: red;
}

.information-header {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.photos-info {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.photo-pair > img {
    width: 150px;
    height: auto;
    border: 3px solid red;
    border-radius: 8px;
}

.photo-pair {
    text-align: center;
    width: 150px;
}